/* normalizing start */
*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Lato;
}

/* normalizing end */


/* base start */

body{
  background-color: #F9F9F9;
  min-width: 320px;
}

section{
  margin-top: 24px;
  margin-bottom: 24px;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.box{
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: #eee;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn p{
  font-size: 14px;
}

.p-button{
  color: white;
  cursor: pointer;
  border: 2px solid white;
  padding: 0px 5px;
}

.p-button:hover{
  background-color: #fff;
  color: #333;
}

.s-button{
  color: #3D749B;
  cursor: pointer;
  max-width: max-content;
  padding: 0px 10px;
  font-weight: 700;
}

.s-button:hover{
  color: #5B7D95;
}

.link{
  font-size: 12px;
  color: #3D749B;
  text-decoration: none;
}

.centralize{
  display: flex;
  justify-content: center;
}

/* base end */

/* NAVBAR */

header{
  background-color: #2b2b2b;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header.container{
  padding: 20px 16px;
}

.header a{
  color: #fff;
  text-decoration: none;
}
#menu-toggler i{
  font-size: 18px;
}

#cover{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-large{
  display: none;
}

.menu-mobile{
  display: none;
}

.menu-mobile-item{
  display: flex;
  justify-content: space-between;
}

.menu-mobile.open{
  display: block;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 20;
  width: 90%;
  height:100vh;
}

.menu-mobile.open ul li{
  padding: 5px;
  border-top: 1px solid #eee;
}

.menu-mobile.open ul li:first-child{
  border-top: 1px solid transparent;
}

.menu-mobile.open ul li a{
padding: 15px;
color: #333;
font-size: 18px;
text-decoration: none;
}

.menu-mobile.open ul li a i{
color: #333;
font-size: 18px;
}

#brand a{
  font-size: 30px;
}

/* NAVBAR END */

/* HERO SECTION */

#hero{
  position: relative;
  background-color: #222;
  margin-top: 0px;
}

#hero > *{
  text-align: center;
  color: #eee;
}

#hero h3, #hero a{
  font-size: 1.5rem;
  color: #eee;
  text-decoration: none;
}

#hero a{
  white-space: nowrap;
}

#short{
  padding: 80px 0px;
}

#short > *{
  margin-bottom: 24px;
  text-align: center;
  padding: 0px 40px ;
}

#profile-wrapper{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}

#profile{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  filter: grayscale(100%);
}

#short > *:last-child {
  margin-bottom: 0px;
}

#short .profession:hover{
  transition: 1s;
}

#short .uiux:hover{
  color: #a62fa6;
}

#short .developer:hover{
  color: #37b337;
}

#short .designer:hover{
  color: #e84040;
}

#short .illustrator:hover{
  color: #c8c800;
}



#presentation{
  background-color: #1c1c1c;
  color: #eaeaea;
  padding: 40px 0px 120px 0px;
}

#presentation h4{
  margin-bottom: 30px;
}

#presentation p{
  font-size: 16px;
}
/* HERO SECTION END */


/* skills SECTION */
.uiux .level{
  background-color: #a62fa6;
}

.uiux .title{
  color: #a62fa6;
}

.developer .level{
  background-color: #37b337;
}

.developer .title{
  color: #37b337;
}

.designer .level{
  background-color: #e84040;
}

.designer .title{
  color: #e84040;
}

.illustrator .level{
  background-color: #c8c800;
}

.illustrator .title{
  color: #c8c800;
}



#skills{
  display: flex;
  position: relative;
  margin: -32px 0px;
  padding: 32px 0px;
  background-color: #1c1c1c;
}

#skills .box{
  margin-top: -102px;
  overflow: hidden;
}

#skills .container > .title{
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3D749B;
}
.skills-wraper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 2px;
  z-index: 0;
}

.skill-card{
  background-color: #fff;
  padding: 8px 16px;
  text-align: center;
}

.skill-card > *{
  margin: 16px 0px;
}

.skill-card .title{
  height: 60px;
  font-size: 24px;
  font-weight: bold;
}

.skill-card .text{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.hability{
  text-align: left;
}

.level-bar{
  width: 100%;
  background-color: lightgray;
  text-align: left;
  height: 20px;
  overflow: hidden;
  border-radius: 4px;
}
.level{
  width: 60%;
  height: 30px;
  opacity: 0.7;
}
.value{
    color: white;
    z-index: 10;
}

.card-header{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.card-header-id{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card-header span{
  font-size: 10px;
}

.card-header .image-cropper{
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.card-header .image-cropper img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* SKILLS SECTION END*/


/* PORTFOLIO SECTION */
#portfolio{
  display: flex;
  margin: -32px 0px;
  padding: 32px 0px;
  background-color: #222;
}

#portfolio .container{
  padding: 30px 0px;
}

#portfolio .container > .title{
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #eee;
}
.portfolio-wraper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 16px 20px;
  z-index: 0;
}

.portfolio-card{
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.portfolio-card > *{
  margin: 16px 0px;
}

.portfolio-card .title{
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.portfolio-card .text{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.portfolio-card .text > b{
  font-size: 14px;
}


.portfolio-card .card-header{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.portfolio-card .card-header-id{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.portfolio-card .card-header span{
  font-size: 10px;
}

.portfolio-card .card-header .image-cropper{
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.portfolio-card .card-header .image-cropper img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* PORTFOLIO SECTION END */


/* FOOTER */

footer{
  background: #2b2b2b;
  color: white;
  padding: 8px 0px;
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.7rem;
}

footer ul {
  padding: 24px 0px;
}

footer ul li {
  padding: 10px 0px;
}

footer ul li a{
  text-decoration: none;
}

footer #social li{
  display: inline;
  font-size: 15px;
}
footer #social li a{
  padding: 10px;
  color: #eee;
}

footer #social li a i{
  font-size: 15px;
}

/* FOOTER END */


/* Custom end */

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  #hero h3, #hero a{
    font-size: 2rem;
  }

  .skills-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  #menu-toggler{
    display: none;
  }

  .menu-large{
    display: block;
  }

  .menu-large li{
    display: inline-block;
    margin: 10px;
  }

  .menu-large li a{
    font-size: 16px;
    text-decoration: none;
  }

  .skills-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .skills-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
